doctype html
html.dark.sl-theme-dark(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title #{data.package.name} #{data.package.version}
		meta(name='description' content=data.package.description)
		meta(property='og:title' content=data.package.name)
		meta(property='og:description' content=data.package.description)
		meta(name='theme-color' content='black')
		style
			!= css.tailwind
		//- Shoelace-FontAwesome Pug mixin
		include ../node_modules/shoelace-fontawesome-pug/sl-fa-mixin.pug
		include ../node_modules/shoelace-pug-loader/loader.pug
		+slTheme('dark')
		//- Shoelace components
		+slComponents('icon', 'dialog', 'button', 'icon-button', 'tooltip', 'input')
	body.w-full.h-screen.bg-zinc-950
		.w-full.h-full.flex.flex-col
			//- header/token
			.flex.flex-col.md_flex-row.border-b-2.border-zinc-800.p-8.gap-4
				//- header
				.flex.flex-row.flex-shrink
					h1.text-4xl.font-bold.self-end.mr-2 #{data.package.name}
					h2.text-xl.italic.self-end #{data.package.version}
				//- token
				.flex-grow.flex.items-center.justify-center.md_justify-end
					div.flex.flex-row.gap-4
						sl-button#NewUserButton(onclick='return;')
							sl-icon(name='fas-user-plus' slot='prefix' library='fa')
							span.upper.font-bold New
						sl-input#UserTokenInput(type='password' placeholder='SpaceTrader token' clearable password-toggle)
							sl-icon(name='fas-lock-keyhole' slot='prefix' library='fa')
			//- main page
			.grid.grid-cols-1.md_grid-cols-2.lg_grid-cols-3.gap-4.p-8

				//- agent info
				.info-panel
					h2.text-2xl.font-bold.mb-2 Agent
					sl-tooltip(content='Account ID'): h6.w-min.font-space.text-md.text-zinc-500#account-id &nbsp;
					p.text-lg.mb-2 Welcome, #[strong#agent-name &nbsp;].
					p.text-lg.mb-2 #[strong Headquarters:] #[span#agent-location &nbsp;]

				//- faction info
				.info-panel
					h2.text-2xl.font-bold.mb-2 Faction

				//- contract details
				.info-panel
					h2.text-2xl.font-bold.mb-2 Contract

				//- shipyard
				.info-panel
					h2.text-2xl.font-bold.mb-2 Shipyard
	
		sl-dialog#new-modal(label='Generate new Agent')
			p.text-lg.mb-4 Enter a new #[strong call sign], then optionally choose a #[strong faction].
			sl-input.mb-2#call-sign(type='text' placeholder='Call sign' clearable)
			sl-input.mb-2#faction(type='text' placeholder='Faction (optional)' clearable)
			//- todo: make this a select
			.w-full.text-center.mt-2
				sl-button#register(onclick='return;')
					sl-icon(name='fas-user-plus' slot='prefix' library='fa')
					span.upper.font-bold Register

		sl-dialog#success-dialog(label='Agent created!')
			p.text-lg.mb-2 Welcome to #[strong SpaceTraders], #[strong#success-name &nbsp;]!
			.flex.justify-center
				sl-button#CopyNewTokenButton(onclick='return;') Copy token

		script: include ../dist/ui.js