doctype html
html.dark.sl-theme-dark(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title #{data.package.name} #{data.package.version}
		meta(name='description' content=data.package.description)
		meta(property='og:title' content=data.package.name)
		meta(property='og:description' content=data.package.description)
		meta(name='theme-color' content='black')
		style
			!= css.tailwind
		//- Shoelace-FontAwesome Pug mixin
		include ../node_modules/shoelace-fontawesome-pug/sl-fa-mixin.pug
		include ../node_modules/shoelace-pug-loader/loader.pug
		+slTheme('dark')
		//- Shoelace components
		+slComponents('icon', 'dialog', 'button', 'icon-button', 'tooltip', 'input', 'avatar')
	body.w-full.h-screen.bg-zinc-950.font-space
		.w-full.h-full.flex.flex-col
			//- header/token
			.flex.flex-col.md_flex-row.border-b-2.border-zinc-800.p-8.gap-4
				//- header
				.flex.flex-row.flex-shrink
					sl-avatar.mr-2(image='https://i.tycrek.dev/TradeFlareLogo' shape='rounded')
					h1.text-4xl.font-bold.self-end.mr-2:  a.hover_underline(href='https://github.com/tycrek/TradeFlare#readme' target='_blank')= data.package.name
					h2.text-xl.italic.self-end.text-zinc-400 #{data.package.version}
				//- token
				.flex-grow.flex.items-center.justify-center.md_justify-end
					div.flex.flex-row.gap-4
						sl-button#NewUserButton(onclick='return;')
							sl-icon(name='fas-user-plus' slot='prefix' library='fa')
							span.upper.font-bold New
						sl-input#UserTokenInput(type='password' placeholder='SpaceTrader token' clearable password-toggle)
							sl-icon(name='fas-lock-keyhole' slot='prefix' library='fa')
			//- main page
			.grid.grid-cols-1.md_grid-cols-2.lg_grid-cols-3.gap-4.p-8

				//- agent info
				.info-panel
					.info-panel-title
						sl-icon(name='fas-user-astronaut' library='fa')
						span Agent
					.p-2.md_p-4
						.flex.flex-row.gap-4.items-center.hidden#AgentDetailsHider
							sl-avatar#AgentAvatar(initials='  ')
							.flex.flex-col.font-bold
								.flex.items-center.gap-2
									span.text-2xl#AgentName &nbsp;
									sl-tooltip#AgentAccountIdTooltip(content='Account ID')
										sl-icon#AgentAccountIdCopyButton(name='fas-id-card' library='fa')
								p.text-lg.text-zinc-400 ↪ #[span#AgentLocation &nbsp;]
								.hidden#AgentAccountId &nbsp;

				//- faction info
				.info-panel
					.info-panel-title
						sl-icon(name='fas-user-group-crown' library='fa')
						span Faction

				//- contract details
				.info-panel
					.info-panel-title
						sl-icon(name='fas-file' library='fa')
						span Contract

				//- shipyard
				.info-panel
					.info-panel-title
						sl-icon(name='fas-rocket' library='fa')
						span Shipyard
	
		sl-dialog#NewUserModal(label='Generate new Agent')
			p.text-lg.mb-4 Enter a new #[strong call sign], then optionally choose a #[strong faction].
			sl-input.mb-2#NewUserCallSign(type='text' placeholder='Call sign' clearable)
			sl-input.mb-2#NewUserFaction(type='text' placeholder='Faction (optional)' clearable)
			//- todo: make this a select
			.w-full.text-center.mt-2
				sl-button#NewUserRegister(onclick='return;')
					sl-icon(name='fas-user-plus' slot='prefix' library='fa')
					span.upper.font-bold Register

		sl-dialog#NewUserSuccessDialog(label='Agent created!')
			p.text-lg.mb-2 Welcome to #[strong SpaceTraders], #[strong#NUSDName &nbsp;]!
			.flex.justify-center
				sl-button#NUSDCopyNewTokenButton(onclick='return;') Copy token

		script: include ../dist/ui.js